# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [154]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import csv
import gmaps.datasets

# Import API key
from api_keys import g_key
import json
import time

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [155]:
cities_df = pd.read_csv('../resources/weatherdata.csv')

cities_df.head(25)

,city,latitude,longitude,Temperature,humidity,windspeed,cloudiness,country,date
0,tasiilaq,65.6145,-37.6368,42.96,74,5.35,99,GL,1660803100
1,ushuaia,-54.8000,-68.3000,40.66,56,9.22,40,AR,1660803100
2,dikson,73.5069,80.5464,40.87,78,7.45,100,RU,1660803101
3,yellowknife,62.4560,-114.3525,64.56,77,8.99,46,CA,1660803101
4,georgetown,5.4112,100.3354,89.89,66,11.50,20,MY,1660802938
5,busselton,-33.6500,115.3333,59.63,62,11.99,59,AU,1660803102
6,atuona,-9.8000,-139.0333,77.22,75,24.29,8,PF,1660803102
7,rikitea,-23.1203,-134.9692,73.98,77,19.28,6,PF,1660803103
8,sawtell,-30.3833,153.1000,69.19,63,14.97,6,AU,1660803104
9,cortez,37.3489,-108.5859,65.16,81,4.61,0,US,1660803105
10,chuy,-33.6971,-53.4616,46.11,88,8.75,30,UY,1660803105
11,amahai,-3.3333,128.9167,80.37,76,11.32,95,ID,1660803105
12,caravelas,-17.7125,-39.2481,68.97,83,6.71,30,BR,1660803106
13,cidreira,-30.1811,-50.2056,61.59,98,6.33,100,BR,1660803106
14,castro,-24.7911,-50.0119,61.23,82,10.49,100,BR,1660803107
15,jamestown,42.0970,-79.2353,60.71,73,1.01,100,US,1660802826
16,cape town,-33.9258,18.4232,55.11,88,4.00,79,ZA,1660802992
17,eidsvag,62.7767,8.0668,53.65,78,2.44,15,NO,1660803108
18,kapaa,22.0752,-159.3190,80.58,84,9.22,75,US,1660803109
19,port elizabeth,-33.9180,25.5701,57.31,80,5.01,3,ZA,1660803020
20,tucuman,-26.8241,-65.2226,35.60,75,2.30,17,AR,1660803058
21,iqaluit,63.7506,-68.5145,40.69,100,11.01,100,CA,1660803110
22,faanui,-16.4833,-151.7500,70.45,87,9.69,100,PF,1660803110
23,avarua,-21.2078,-159.7750,68.05,77,9.22,75,CK,1660803110
24,ostrovnoy,68.0531,39.5131,71.02,64,24.76,33,RU,1660803111

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [156]:
gmap_key = gmaps.configure(api_key = g_key)

In [157]:
glocs = cities_df[['latitude', 'longitude']]
Weights = cities_df['humidity']

In [158]:
google_maps = gmaps.figure()



plt.savefig('../Resources/heatmap.png')
google_maps.add_layer(gmaps.heatmap_layer(glocs, weights = Weights))
google_maps


#plt.savefig('../Resources/heatmap.png', dpi=300, bbox_inches='tight')

Figure(layout=FigureLayout(height='420px'))

In [159]:
#plt.savefig('../Resources/heatmap.png')

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [160]:
,# Filter vacation with max temp above 70 degrees F,below 80 degrees F,with zero cloudiness,wind speed below 10 mph,humidity below 65 %

perfect_vacation  = cities_df.loc[(cities_df['Temperature']>=75) & (cities_df['Temperature']<=85)
                           & (cities_df['cloudiness']==0)  & (cities_df['windspeed']<=10) & (cities_df['humidity']>=65)].dropna()
perfect_vacation

,city,latitude,longitude,Temperature,humidity,windspeed,cloudiness,country,date
138,saint-philippe,-21.3585,55.7679,75.11,68,9.33,0,RE,1660803177
209,saint pete beach,27.7253,-82.7412,84.20,84,0.00,0,US,1660803218
224,makakilo city,21.3469,-158.0858,79.12,70,8.05,0,US,1660803226
335,kahului,20.8947,-156.4700,82.42,75,6.91,0,US,1660803292
398,tucson,32.2217,-110.9265,77.43,81,6.91,0,US,1660803332
445,calamar,10.2511,-74.9146,76.23,93,4.92,0,CO,1660803355

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [161]:
hotel_df = perfect_vacation
hotel_df ['hotel Name']=""
hotel_df

,city,latitude,longitude,Temperature,humidity,windspeed,cloudiness,country,date,hotel Name
138,saint-philippe,-21.3585,55.7679,75.11,68,9.33,0,RE,1660803177,
209,saint pete beach,27.7253,-82.7412,84.20,84,0.00,0,US,1660803218,
224,makakilo city,21.3469,-158.0858,79.12,70,8.05,0,US,1660803226,
335,kahului,20.8947,-156.4700,82.42,75,6.91,0,US,1660803292,
398,tucson,32.2217,-110.9265,77.43,81,6.91,0,US,1660803332,
445,calamar,10.2511,-74.9146,76.23,93,4.92,0,CO,1660803355,

In [162]:
url = 'https://maps.googleapis.com/maps/api/place/nearbysearch/json'

In [163]:
params = {
    'radius': 5000,
    'types': 'lodging',
    'key': g_key
    
}

for index,row in hotel_df.iterrows():
    hotel_url = url
    latitude= row['latitude']
    longitude=row['longitude']
    paramseters['location'] = f"{latitude},{longitude}"
    hotel_req = requests.get(hotel_url , params = params)
    hotel_json = hotel_req.json()
    
    try:
        hotel_req = requests.get(hotel_url , params = params)
        hotel_json = hotel_req.json()
        hotel_df.loc[index, 'Hotel Name'] = hotel_json['results'][0]['name']
        print('Hotel is found!')
    except (KeyError, IndexError):
        print('Hotel not there!')
        
        
   
    time.sleep(1)

Hotel not there!
Hotel not there!
Hotel not there!
Hotel not there!
Hotel not there!
Hotel not there!

In [164]:
print(hotel_json)

{'html_attributions': [], 'results': [], 'status': 'INVALID_REQUEST'}

In [165]:
print(params)

{'radius': 5000, 'types': 'lodging', 'key': 'AIzaSyDVk4pNO7JfYnsltMydrFsZMrQ3P3g-yKY'}

In [166]:
hotel_df

,city,latitude,longitude,Temperature,humidity,windspeed,cloudiness,country,date,hotel Name
138,saint-philippe,-21.3585,55.7679,75.11,68,9.33,0,RE,1660803177,
209,saint pete beach,27.7253,-82.7412,84.20,84,0.00,0,US,1660803218,
224,makakilo city,21.3469,-158.0858,79.12,70,8.05,0,US,1660803226,
335,kahului,20.8947,-156.4700,82.42,75,6.91,0,US,1660803292,
398,tucson,32.2217,-110.9265,77.43,81,6.91,0,US,1660803332,
445,calamar,10.2511,-74.9146,76.23,93,4.92,0,CO,1660803355,

In [167]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{hotel Name}</dd>
<dt>City</dt><dd>{city}</dd>
<dt>Country</dt><dd>{country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["latitude", "longitude"]]

In [168]:
# Add marker layer ontop of heat map
gmaps.configure(api_key=g_key)

hotel_locations = (locations)

#layer(info_box_template, weights = locations))    
hotelfig = gmaps.figure()
markers = gmaps.marker_layer(hotel_locations)
hotelfig.add_layer(markers)

#save figure 
# Display figure
plt.savefig('../Resources/hotelfig.png')
hotelfig


#plt.savefig('../Resources/hotelfig.png')

Figure(layout=FigureLayout(height='420px'))